/Tests.class
/DrawingWithLib.class
/DrawingWithLib$DrawingPanel.class
/SingleActivityTests.class
/RelationTests.class
/SingleRelationTests.class
/ComplexRelationTests.class
/ExceptionTests.class
/NonFuncTests.class
